Repository VM-Chinese-translate-group/fantasy-realm, pull requests merged in 2023-09, with the labels that each got.

#23 Update zh_cn.json
  Patch-Pack-CN/config/paxi/resourcepacks/vm-language/assets/druidcraftrg/lang/zh_cn.json
Labels: approve

#6 挑战章节
  Patch-Pack-CN/config/ftbquests/quests/chapters/challenges.snbt
Labels: approve, ftbquest, need review, ready to merge

#3 更多箱子
  Patch-Pack-CN/config/paxi/resourcepacks/vm-language/assets/ironchests/lang/en_us.json
  Patch-Pack-CN/config/paxi/resourcepacks/vm-language/assets/ironchests/lang/zh_cn.json
Labels: approve, need review, ready to merge

#18 Fantasy's Furniture
  Patch-Pack-CN/config/paxi/resourcepacks/vm-language/assets/fantasyfurniture/lang/zh_cn.json
Labels: approve, need review, ready to merge

#26 末地：创世章节
  Patch-Pack-CN/config/ftbquests/quests/chapters/the_end.snbt
Labels: ftbquest, need review, Needs modification

#13 Update deeper_and_darker.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/deeper_and_darker.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/gnumus_settlement.snbt
Labels: approve, ftbquest, need review, ready to merge

#25 探索生活章节
  Patch-Pack-CN/config/ftbquests/quests/chapters/quality_of_life.snbt
Labels: approve, ftbquest, need review, ready to merge

#15 boss
  Patch-Pack-CN/config/ftbquests/quests/chapters/bosses.snbt
Labels: approve, ftbquest

#29 暮色森林
  Patch-Pack-CN/config/ftbquests/quests/chapters/the_twilight_forest.snbt
Labels: approve, ftbquest

#24 ftbq任务章节relics
  Patch-Pack-CN/config/ftbquests/quests/chapters/relics.snbt
Labels: approve, ftbquest

#12 bygone nether联动部分补充
  Patch-Pack-CN/config/paxi/resourcepacks/vm-language/assets/bygonenether/lang/zh_cn.json
Labels: approve

#10 ftbq任务章节nether
  Patch-Pack-CN/config/ftbquests/quests/chapters/nether.snbt
Labels: approve, ftbquest

#11 relics
  Patch-Pack-CN/config/paxi/resourcepacks/vm-language/assets/relics/lang/zh_cn.json
Labels: approve, need review, ready to merge

#30 astral dimension
  Patch-Pack-CN/config/paxi/resourcepacks/vm-language/assets/astral_dimension/lang/zh_cn.json
Labels: approve, need review, ready to merge

#7 模拟殖民地、博克岛模组及任务汉化
  Patch-Pack-CN/config/ftbquests/quests/chapters/isle_of_berk.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/mine_colonies.snbt
  Patch-Pack-CN/config/paxi/resourcepacks/vm-language/assets/isleofberk/lang/zh_cn.json
Labels: approve, ftbquest, need review, ready to merge

#8 phantasm
  Patch-Pack-CN/config/paxi/resourcepacks/vm-language/assets/phantasm/lang/zh_cn.json
Labels: approve

#27 Update zh_cn.json
  Patch-Pack-CN/config/paxi/resourcepacks/vm-language/assets/thenexus/lang/zh_cn.json
Labels: approve, need review, ready to merge

#28 Endlessbiomes模组汉化
  Patch-Pack-CN/config/paxi/resourcepacks/vm-language/assets/endlessbiomes/lang/zh_cn.json
Labels: need review, Needs modification

#32 冰火-汉化
  Patch-Pack-CN/config/ftbquests/quests/chapters/blue_skies.snbt
  Patch-Pack-CN/config/ftbquests/quests/chapters/ice__fire.snbt
Labels: approve, ftbquest, ready to merge
